.fitImage {
    width: 100%;
    height: auto;
}


.Detail{
	margin-left: 260px;
    padding-top: 170px;
}

.padding-top{
	padding-top: 10px;
}

.margin{
	margin: 10px;
}

.padding-bottom{
	padding-bottom: 20px;
}

.background_table{
	background-color: #FFFFE0;
}

@media (max-width: 767.98px) {
    .Detail {
        margin-left: 0px;
        padding-top: 100px;
    }

    h1 {
        font-size: 30px;
    }
    h4 {
        font-size: 18px;
    }

    h5{
        font-size: 17px;
    }
    p{
        font-size: 15px;
    }
}
