body {
    min-height: 100%;
    height: 100%;
    /* margin-top: 60px; */
}
.SelectDish {
    margin-left: 260px;
    padding-top: 100px;
}
.full-height {
    height: 100%;
    min-height: 100%;
}


