.Dishes {
    margin-right: auto;
    margin-left: auto;
}

.max_height{
    heigh: 100%;
}
.image-wrapper{
    width:100%;
    padding-bottom:100%;
    overflow:hidden;
    position:relative;
    background:#ffffff;
    float:left;
    object-fit: contain;
}
.image-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 180%;
    max-height: 180%
}

.full-height{
    height: 100%;
}

.padding-top{
    padding-top: 10px;
}

.center_txt{
   text-align: center;
}


