.Dishes {
    margin-right: auto;
    margin-left: auto;
}
.image-wrapper{
    width:100%;
    padding-bottom:100%;
    overflow:hidden;
    position:relative;
    background:#ffffff;
    float:left;
    object-fit: contain;
}
.image-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%
}

.full-height{
    height: 100%;
}


#sidebar {
    height: 100%;
    width: 260px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */

    overflow-x: hidden;
    padding-top: 100px
    /* Disable horizontal scroll */
    /* padding-top: 20px; */
}

