.App-title{
	color: purple;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.title {
    text-align: center;
    background-color: lightgray;
    padding: 50px;
   
}